<div class="login-container">
    <div class="login-left">
      <h2>Login! 👋</h2>
      <p>How do I get started?</p>

      <form>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="test@asiacom-americas.com">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="******">
        <button type="submit" class="btn btn-signin">Sign In</button>
      </form>
      <p>Don't have an account? <a routerLink="/signup">Sign Up Now</a></p>
    </div>
    <div class="login-right">
      <div class="login-info">
        <h3>Why should I login?</h3>
        <p>By logging in, you can access your personal dashboard, where you can manage your account, edit the data, and much more.</p>
        <img src="assets/dashboard-example.png" alt="Dashboard example">
      </div>
    </div>
  </div>