.checkbar{
    display: flex;
    flex-wrap: wrap;
    margin: 4px;
    padding: 5px;
    border: 0.1rem solid gray;
}
.bar_item{
    width: 20%;
    font-size: 15px;
    margin-top: 2px;
}

.filterbar{
    width: 100%;

    margin: 2px;
    padding: 5px;

    
}
.filterbar form{
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
}
.unit{
    
    max-width: 20%;
    
    
      
}
.filterbar form label {
    margin-top: 1rem;
    margin-right: 0.3rem;
    
  }
  
  .filterbar form input {
    padding: 0.5rem;
    margin-top: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 0.5rem;
  }
  .filterbar form select {
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 0.3rem;
  }
 
  .filterbar form button {
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 0.5rem;

    border-radius: 5px;
    
    cursor: pointer;
  }
  .btn button{
    padding: 3px 10px;
  }