.detail{
    display: flex;
    justify-content: start;

}
.key{
    width: 20%;
    font-size: 18px;
    font-weight: bold;
    margin: 2px;
    padding-left: 10px;
}
.value{
    font-size: 15px;
    margin: 2px;
}
.del_btn{
    color: white;
    /* background-color: lightskyblue; */
    background-color: orange;
    border: none;
    border-radius: 4px;
    margin: 2px 10px;
    padding: 5px 30px;
    font-size: 15px;
    cursor: pointer;
}
.edt_btn{
    color: white;
    /* background-color: lightskyblue; */
    background-color: lightseagreen;
    border: none;
    border-radius: 4px;
    margin: 2px 10px;
    padding: 5px 30px;
    font-size: 15px;
    cursor: pointer;
}
