<div class="login-container">
    <div class="login-left">
      <h2>register! 👋</h2>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <label for="name">Name</label>
        <input type="text" id="name" formControlName="name" placeholder="Name">
        
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" placeholder="test@asiacom-americas.com">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" placeholder="******">
        <label for="confirmpassword">Confirm Password</label>
        <input type="password" id="confirmpassword" formControlName="confirmpassword" placeholder="******">
        <button type="submit" class="btn btn-signin" [disabled]="!registerForm.valid">Sign Up</button>
      </form>
      <p>Already have an account? <a routerLink="/login">Sign In Now</a></p>
    </div>
    <div class="login-right">
      <div class="login-info">
        <h3>Why should I Sign up?</h3>
        <p>By signing up, you can access your personal dashboard, where you can manage your account, edit the data, and much more.</p>
        
      </div>
    </div>
  </div>
